---
import ChatGPTMultiLineAnimation from "@/components/Chatgpt";
import WaitlistForm from "@/components/Waitlist";

interface Props {
  data: {
    title: string;
    subTitle: string;
    primaryCta: string;
    secondaryCta: string;
    highlightedTitle?: string;
  };
}

const { data } = Astro.props;
---

<section id="hero-section" class="flex flex-col items-center mt-60 px-4">
  <div class="w-full max-w-3xl text-center">
    <h1 class="text-5xl sm:text-6xl md:text-8xl lg:text-9xl font-semibold">
      {data.title}
      <span class="text-primary">{data.highlightedTitle}</span>
    </h1>
    <h2 class="mt-10 text-xl sm:text-xl md:text-2xl lg:text-4xl opacity-80">
      {data.subTitle}
    </h2>
    <div class="flex justify-center mt-24 items-center mr-10">
      <!-- Use the client-side form component -->
      <WaitlistForm client:load />
    </div>
  </div>
</section>

<section id="chatgpt-section" class="flex justify-center mt-32 w-full">
  <ChatGPTMultiLineAnimation client:visible />
</section>
